PORT=8080
NODE_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root123
DB_NAME=pureadmin
MYSQL_ROOT_PASSWORD=root123

REDIS_URL=redis://127.0.0.1:6379
ACCESS_TOKEN_TTL_SECONDS=86400
REFRESH_TOKEN_TTL_SECONDS=604800

JWT_SECRET=pureadmin-jwt-secret-key

VITE_PORT=8848
VITE_PUBLIC_PATH=
VITE_COMPRESSION=none
